@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --background-default: #F5F4F0;
    --border-primary: #D9D9D9;
    --text-primary: #1B1B1B;
    --text-secondary: #333333;
    --text-tertiary: #696969;
    --text-headline: #E1624F;
    --accent-blue: #0C51A7;
    --accent-orange: #E95E10;
    --accent-pink: #E5245E;
    --accent-purple: #591B98;
}

.container {
    max-width: 1120px;
    width: 100%;
    margin: 3rem auto;
}

.title-area span {
    color: var(--text-headline);
    font-weight: bold;
    font-size: 1rem;
}

.title-area h1 {
    line-height: 3rem;
}

.title-area p {
    color: var(--text-secondary);
}

.container .image-area img {
    margin-top: 35px;
    width: 100%;
    border-radius: 26px;
}

.container .image-area p {
    margin-top: 24px;
    text-align: center;
    color: var(--text-secondary);
}

.divisor {
    width: 100%;
    height: 1px;
    background-color: var(--border-primary);
    margin-top: 40px;
}

.image-area .image-background{
    margin-top: 64px;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 350px;
    border-radius: 28px;
}

.image-area .img-one {
    background-image: url(assets/images/Image_02.png);
}

.image-area .img-two {
    background-image: url(assets/images/Image_03.png);
}

.image-area .img-three {
    background-image: url(assets/images/Image_04.png);
}

.list-history ol {
    margin-top: 20px;
}

.list-history ol li{
    margin-left: 27px;
}

.list-history p {
    font-size: 1rem;
    font-weight: regular;
    color: var(--text-secondary);
}

.list-history ul li {
    margin-left: 20px;
    color: var(--accent-blue);
}



.list-history .list-history-item {
    margin-top: 20px;
}

#purple {
    color: var(--accent-purple);
}

#pink {
    color: var(--accent-pink);
}

#orange {
    color: var(--accent-orange);
}

footer {
    margin: 65px 0 65px 0;
}

footer p{
    text-align: center;
}